{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Profile</h2>
            <form method="post" class="mt-4">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name == "allergic_foods" %}
                        <div class="mb-3">
                            {{ field.label_tag }}<br>
                            <br>
                            {{ field }}
                        </div>
                    {% else %}
                        <div class="mb-3">
                            {{ field.label_tag }} {{ field }}
                        </div>
                    {% endif %}
                {% endfor %}
                <button type="submit" class="btn btn-custom  mt-1">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}