{% extends 'base.html' %}
{% block title %}Recipe List - Healthy Meal Planner{% endblock %}
{% block content %}
<div class="container">
    <div class="header">
        <h1>Recipe List</h1>
    </div>
    <div class="row">
        {% for recipe in recipes %}
            <div class="col-md-4">
                <div class="card mb-4">
                    {% if recipe.img_src %}
                        <img src="{{ recipe.image_url.url }}" class="card-img-top" alt="{{ recipe.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.name }}</h5>
                        <p class="card-text">{{ recipe.recipe_type }}</p>
                        <p class="card-text">
                            <strong>Cooking Time:</strong> {{recipe.cooking_hour}} hrs {{recipe.cooking_minute}} mnts
                        </p>
                        <p class="card-text">
                            <strong>Ingredients:</strong> {{ recipe.recipe_content|linebreaksbr }}
                        </p>
                        <a href="{% url 'recipe_detail' recipe.pk %}" class="btn btn-primary">View Recipe</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="text-center">
        <a href="{% url 'add_recipe' %}" class="btn btn-primary-custom mt-4">Add New Recipe</a>
    </div>
</div>
{% endblock %}
